@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

.app {
    height: 1080px;
    width: 1920px;
}

.bar {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #444444;
    height: 40px;
    width: 100%;
}

.network {
    position: absolute !important;
    top: 7px !important;
    right: 120px !important;
    color: white;
}

.followers {
    position: absolute !important;
    top: 7px !important;
    right: 400px !important;
    color: white;
}

.time {
    position: absolute;
    top: 10px;
    right: 55px;
    color: white;
    font-size: 14px;
    font-family: 'Exo', sans-serif;
}

.notification {
    position: absolute !important;
    top: 7px !important;
    right: 15px !important;
}

.notifications {
    margin-top: 100px !important;
}