@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

.app {
    height: 2560px;
    width: 1440px;
}

.bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #444444;
    height: 40px;
    width: 100%;
}

.logo {
    margin: 2px;
}

.network {
    position: absolute !important;
    top: 7px !important;
    right: 120px !important;
    color: white;
}

.followers {
    position: absolute !important;
    top: 7px !important;
    right: 400px !important;
    color: white;
}

.time {
    position: absolute;
    top: 10px;
    right: 55px;
    color: white;
    font-size: 14px;
    font-family: 'Exo', sans-serif;
}

.notification {
    position: absolute !important;
    top: 7px !important;
    right: 15px !important;
    color: white;
}

.q-notifications__list--bottom {
    bottom: 50px !important;
 }